.title {
  margin-bottom: 20px;
  &-1 {
    font-size: 70px;
    color: gold;
  }

  &-2 {
    font-size: 50px;
  }

  &-3 {
    font-size: 40px;
  }

  &-4 {
    font-size: 35px;
  }

  &-5 {
    font-size: 30px;
  }

  &-6 {
    font-size: 25px;
  }
}